# This is an example local env file with dummy values

# The urls for client and server
REACT_APP_SERVER=https://localhost:3000
CLIENT_URL=https://localhost:3000
SERVER_URL=https://localhost:8000

# The mongodb connection string and databasename 
DB_CONNECTION=MONGO_DB_CONNECTION_STRING
MONGO_DB=DATABASE_NAME

# Google secrets used for user auth
GOOGLE_CLIENT_ID=Google_CLient_id_for_user_auth
GOOGLE_CLIENT_SECRET=Google_CLient_secret_for_user_auth

# Admin emails (comma separted)
ADMIN_EMAILS=COMMA_SEPARATED_ADMIN_EMAILS

# (OPTIONAL) App insights key for telemtry
APP_INSIGHTS_KEY=APP_INSIGHTS_KEY

# (OPTIONAL) Send grid is used to send emails to admins if there are pending changes proposed 
SENDGRID_API_KEY=SEND_GRID_EMAIL_KEY_FOR_ADMIN_NOTIFICATIONS